.App {
  font-family: sans-serif;
  text-align: center;
}

.facebook--header,
.twitter--header {
  font-size: 2rem;
}

.facebook--header {
  background-color: blue;
  color: white;
}

.twitter--header {
  background-color: green;
  color: white;
}

.facebook--body,
.twitter--body {
  height: 400px;
}

.facebook--body {
  background-color: cyan;
}

.twitter--body {
  background-color: violet;
}
